@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-pop: var(--font-poppins);
  --font-mono: var(--font-montserrat);
  --font-play: var(--font-play);

  --color-dark: #1c1a17;
  --color-gold: #c8a35a;
  --color-sub: #6e6e6e;
  --color-cont: #5b5b5b;
  --color-cream: #f9f6f1;

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

.ac {
  scrollbar-width: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--font-play);
}
button {
  font-family: var(--font-montserrat);
}
p,
span {
  font-family: var(--font-pop);
}
