@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-pop: var(--font-poppins);
  --font-mono: var(--font-montserrat);
  --color-dark: #282828;
  --color-sub: #6e6e6e;
  --color-cont: #5b5b5b;
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

.ac{
  scrollbar-width: none;
}